@model BibliotecaDB.Models.TipoCliente

<div>
    <h4>Detalles del Tipo de Cliente</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Estado == "Activo")
            {
                <span class="badge badge-success">
                    <i class="fas fa-check-circle"></i> @Model.Estado
                </span>
            }
            else
            {
                <span class="badge badge-danger">
                    <i class="fas fa-times-circle"></i> @Model.Estado
                </span>
            }
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>