@model BibliotecaDB.Models.Catalogo

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="modal-body">
        <p>¿Estás seguro de que deseas eliminar este catálogo?</p>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CatalogoId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CatalogoId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GrupoName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GrupoName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Valor)
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
</form>